<h3 *ngIf="isLoading"><i>Loading vacations ... </i></h3>

<nav>
  <button (click)="getVacations()" class="btn btn-secondary">Refresh</button>
  <button (click)="createVacation()" class="btn btn-primary">Create</button>
</nav>

<div class="row">
	<div class="col-sm-4" id="list">
	<h2 *ngIf="!isLoading">Select a vacation:</h2>
		<div class="list-group">
		  <a *ngFor="let vacation of vacations" (click)="select(vacation)" id="atag">
			<div class="list-group-item active">
			{{vacation.name}}
			</div>		
		  </a>
		</div> 
	</div>
	<div class="col-sm-8" id="rightside" *ngIf="selectedVacation">
	  <app-vacation [vacation]="selectedVacation"></app-vacation>
	</div>
</div>

<div class="copyright">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                © 2017 Zachary McGinnis All Rights Reserved</div>
        </div>
    </div>
</div>  