<form [formGroup]="vacationForm" (ngSubmit)="onSubmit()" novalidate>
  <div style="margin-bottom: 1em">
    <button type="submit"
            [disabled]="vacationForm.pristine" class="btn btn-success">Submit</button> &nbsp;
    <button type="reset" (click)="revert()"
            [disabled]="vacationForm.pristine" class="btn btn-warning">Revert</button>
    <button type="delete" (click)="delete()"
             class="btn btn-danger">Delete Vacation</button>
  </div>
  <!-- Vacation Detail Controls -->
  <div class="form-group" id="nameandprice">
      <label>Name of vacation:
        <input class="form-control" formControlName="name" required>
      </label>
      <br><br>
      <label>Price of vacation:
        <input class="form-control" formControlName="price" required>
      </label>
  </div>

  <div formArrayName="guests" class="well well-lg">
    <div *ngFor="let guest of guests.controls; let i=index" [formGroupName]="i" >
      <!-- The repeated guest template -->
      <h4>Guest #{{i + 1}}</h4>
      <div id="output">
            <!-- output of math-->
      </div>
        <div class="form-group">
          <button id="delete" (click)="deleteGuest()" class="btn btn-danger">Delete</button>
            <label>Name:
              <input class="form-control" formControlName="guestName" required>
            </label>
            <br><br>
            <label>Total days:
              <input class="form-control" type="number" formControlName="guestDays" required>
            </label>
            <br><br>
            <label>Amount Owed:
              <input class="form-control" type="number" formControlName="amountOwed">
            </label>
            <br><br>
            <label>Email Address:
              <input class="form-control" formControlName="guestEmail" required>
            </label>
        </div>
      </div>

      <br>
      <!-- End of the repeated address template -->
   
    <button (click)="addGuest()" type="button">Add a guest</button>
  </div>
</form>

<!--
<p>vacationForm value: {{ vacationForm.value | json}}</p>
<h4>Name change log</h4>
<div *ngFor="let name of nameChangeLog">{{name}}</div>
-->