.copyright {
    background: transparent;
    color: black;
    font-size: 10px;
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;

}	

@media screen and (max-width: 767px) {
	
.copyright {
	position: relative;
	padding-top: 10px;
}	

}