<div id="all">
  <div class="jumbotron text-center" id="lead">
    <h1>Group Vacation Calculator</h1>
    <p class="leadtext">Welcome to our custom vacation calculator. This service provides a cost breakdown to each guest on the vacation proportional to the days they will attend the vacation. </p>
    <div>
      <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
    </div>
  </div>

  <div class="row" id="cols">
    <div class="col-md-4" id="left">
      <h3>End conflicts among guests</h3>
      <p>Eliminate the challenges of determining who owes what amount when traveling on a multi-day, multi-guest vacation</p>
    </div>
    <div class="col-md-4" id="mid">
      <h3>Send them a cost breakdown</h3>
      <p>Our printable pdf service can also be sent to your guest's email addresses, showing exactly who owes what and why</p>
    </div>
    <div class="col-md-4" id="right">
      <h3>Connect with Airbnb/Venmo </h3>
      <p>To be added in the future</p>
    </div>
  </div>
</div>