#all{
	font-family: "source_sans_pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#lead {
	background-color: transparent;	
}

.copyright {
    background: transparent;
    color: black;
    font-size: 10px;
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
}	


#cols {
	text-align: center;
	width: 100%;
	height: 100%;
}

.col {
		height: 125px;
	}

.row #left{
	color: white;
	background-color: #337ab7;
}

.row #mid{
	background-color: #e7e7e7;
}

.row #right{
	color: white;
	background-color: #337ab7;
}

.fb{
	padding-top: 4px;
	max-width: 450px;
	margin: 0 auto;
	text-align: center;
}

.fblogged{
	padding-top: 4px;
	max-width: 450px;
	margin: 0 auto;
	text-align: center;
}

.fbnot{
	padding-top: 4px;
	max-width: 450px;
	margin: 0 auto;
	text-align: center;
}

#fbpic{
	height: 40px;
	width: 40px;
}

@media screen and (max-width: 1199px) {
	
.col {
		height: 175px;
	}
}

@media screen and (max-width: 767px) {
	
.col {
		height: 100px;
	}

.copyright {
	position: relative;
	padding-top: 10px;
}	

}

@media screen and (max-width: 417px) {
	
.col {
		height: 140px;
	}
}

@media screen and (max-width: 365px) {
.fb{
	padding-top: 4px;
	max-width: 450px;
	margin: 0 auto;
	text-align: right;
}

.fblogged{
	padding-top: 4px;	
	max-width: 450px;
	margin: 0 auto;
	text-align: right;
}

.fbnot{
	padding-top: 4px;
	max-width: 450px;
	margin: 0 auto;
	text-align: right;
}


#fbpic{
	height: 30px;
	width: 30px;
	margin-left: 20px;
}
}


@media screen and (max-width: 320px) {
	
.col {
		height: 175px;
	}
}